<table data-toggle="table">
    <thead>
    <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Item Price</th>
    </tr>
    </thead>
    <tbody>
    <% @products.all.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.product_category.name %></td>
            <td><%= number_to_currency(product.price) %></td>
        </tr>
    <% end %>
    </tbody>
</table>